@import '~reset-css';
@import '~antd/dist/antd.css';

@import 'layouts/chat';

body{
    background-color: rgb(219, 209, 209);
}

body, html, #root, .wrapper{
    height: 100%;
    color: #202020
}

* {
    outline: none;
}