.status {
    display: inline-block;
    color: #ccc;
    position: relative;



    &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        left: -10px;
        top: 60%;
        transform: translateY(-50%);
        border-radius: 30px;
        background-color: #ccc;
    }

    &--online {
        &::before {
            background-color: rgb(134, 223, 126);
        }
    }
}