.chat {
    // height: calc(100% - 20px);
    height: 100%;
    display: flex;
    background: #fff;
    width: 1140px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    &__sidebar {
        width: 330px;
        border-right: 1px solid rgb(231, 229, 229);

        &-header {
            height: 57px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            border-bottom: 1px solid rgb(216, 210, 210);

            &>div {
                i {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }

        &-search {
            padding: 0 20px 20px 20px;
            position: relative;

            span {
                position: absolute;
                bottom: 27px;
                right: 30px;
            }

            input {
                padding-right: 30px;
                display: block;
                background-color: rgb(240, 232, 232);
            }
        }

        &-dialogs {
            .dialogs {
                padding: 0 20px;
                margin: 0;

                &__item {
                    cursor: pointer;
                    padding: 10px 0;
                    margin-bottom: 0;
                    transition: background-color .1s ease-in-out;

                    &.active,
                    &:hover {
                        background-color: #e4e4e4;
                    }
                }
            }
        }

        // dialogs__item
    }

    &__dialog {
        flex: 1;

        &-header {
            height: 57px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(216, 210, 210);
            margin-bottom: 20px;

            &-center {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                text-align: center;
            }

            &-username {
                font-weight: 600;
                margin-bottom: 5px;
            }

            .anticon {
                margin-right: 10px;
            }
        }

        &-messages {
            padding: 0 20px;
            height: calc(100% - 144px);
            overflow: auto;
        }
    }
}



.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child {
    left: 0;
}