.chat {
    display: flex;
    background: #fff;
    width: 1140px;
    margin: 20px auto 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    &__sidebar {
        width: 320px;

        &-header {
            padding: 20px;
            display: flex;
            justify-content: space-between;

            &>div {
                i {
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }

        &-search {
            padding: 0 0 20px 20px;

            button {
                border: none;
                background-color: rgb(231, 229, 229);
                height: 32 px;
            }

            input {
                background-color: rgb(231, 229, 229);
            }
        }
    }

    &__dialog {
        flex: 1;
    }
}

.ant-input {
    border: none;
}
.ant-input-group-wrapper{
    border: 1px solid #000;
}